<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit your Message</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h4>Edit message request of id : <%= chat._id %></h4>
    <form method="post" action="/chats/<%= chat._id %>?_method=PUT">
        <p>Edit chat, sending from <b><%= chat.from %></b> to <b><%= chat.to %></b></p>
        <textarea name="msg" rows="5" cols="40" id=""><%= chat.msg %></textarea>
        <div>
            <button class="button">Save</button>
        </div>
    </form>
</body>
</html>